:root {
    --cell-size: 30px;
    --cell-width: var(--cell-size);
    --cell-height: var(--cell-size);
    --current-clue: #ffd566;
    --current-light: #ffe7a3;
    --cursor-color: orange;
    --cursor-width: 3px;
    --light-font: 18px sans-serif;
    --light-number-font: 12px sans-serif;
    --clue-number-font: bold 15px sans-serif;
    --box-clue-font: 10px/10px Avenir;
}

kw-crossword {
    display: block;
}

kw-current-clue {
    display: block;
    border: 3px solid orange;
    background-color: var(--current-clue);
    margin: 22px 0;
    padding: 3px;
}

kw-grid {
    display: table;
    table-layout: fixed;
    margin: 0 auto;
    border: 3px solid black;
    box-sizing: border-box;
    --cell-inset: 0 0 0 0;
}

kw-row {
    display: table-row;
    box-sizing: border-box;
}

kw-c, kw-b {
    display: table-cell;
    position: relative;
    width: var(--cell-width);
    height: var(--cell-height);
    max-width: var(--cell-width);
    font: var(--light-font);
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 3px;
    box-sizing: border-box;
}

kw-grid.blocked kw-b {
    box-shadow: inset var(--cell-width) var(--cell-height) black;
}

kw-c[number]::before {
    content: attr(number);
    position: absolute;
    left: 2px;
    top: 0px;
    font: var(--light-number-font);
    color: gray;
    z-index: -1;
}

kw-clue {
    display: block;
    position: relative;
    padding: 0 0 0 30px;
    margin: 0;
}

kw-clue::before {
    content: attr(light-start) " ";
    display: block;
    position: absolute;
    left: 0;
    width: 22px;
    text-align: right;
    font: var(--clue-number-font);
    font-variant-numeric: tabular-nums;
}

kw-grid.barred {
    border: none;
    --cell-width: 36px;
    --cell-height: 36px;
    --cell-content-offset-top: 10px;
    --cell-content-offset-left: 1px;
    --cell-inset: 1px 0 0 1px;
}

kw-grid.barred kw-c {
    box-sizing: border-box;
    padding: 1px 0 4px 1px;
    box-shadow:
        1px 0 0 0 black, 
        0 1px 0 0 black, 
        1px 1px 0 0 black, 
        1px 0 0 0 black inset, 
        0 1px 0 0 black inset;
}

kw-grid.barred kw-c[number]::before {
    top: 3px;
    left: 5px;
}

kw-grid.barred kw-c.across[number]::before {
    left: 6px;
}

kw-grid.barred kw-c[across] {
    padding-left: 3px;
    padding-right: 2px;
    --cell-inset: 1px 0 0 3px;
    box-shadow:
        1px 0 0 0 black, 
        0 1px 0 0 black, 
        1px 1px 0 0 black, 
        inset 3px 0 0 0 black, 
        inset 0 1px 0 0 black;
}

kw-grid.barred kw-c[down] {
    padding-top: 3px;
    --cell-inset: 3px 0 0 1px;
    box-shadow:
        1px 0 0 0 black, 
        0 1px 0 0 black, 
        1px 1px 0 0 black, 
        1px 0 0 0 black inset, 
        0 3px 0 0 black inset;
}

kw-grid.barred kw-c[across][down] {
    --cell-inset: 3px 0 0 3px;
    box-shadow:
        1px 0 0 0 black, 
        0 1px 0 0 black, 
        1px 1px 0 0 black, 
        3px 0 0 0 black inset, 
        0 3px 0 0 black inset;
}

kw-grid.barred kw-b {
    background: none;
    box-shadow: none;
}

kw-grid.swedish {
    --cell-width: 44px;
    --cell-height: 44px;
    --cell-inset: 1px 0 0 1px;
    font-size: 24px;
    border: 3px solid black;
    border-width: 2px 3px 3px 2px;
    box-shadow: inset 1px 1px black;
}

kw-grid.swedish kw-c {
    padding: 1px 0 7px 1px;
    box-sizing: border-box;
}

kw-grid.swedish kw-c[solution-letter]::before {
    content: '';
    position: absolute;
    inset: 1px 0 0 1px;
    background-image: radial-gradient(transparent 0px, transparent 15px, black 16px, black 17px, transparent 18px, transparent 25px);
}

kw-grid.swedish kw-c[solution-letter]::after {
    content: attr(solution-letter);
    position: absolute;
    right: 4px;
    bottom: 2px;
    background-color: white;
    font-size: 16px;
    padding-left: 2px;
}

kw-grid.swedish kw-b {
    position: relative;
}

kw-grid.swedish kw-clue {
    display: grid;
    align-items: center;
    font: var(--box-clue-font);
    height: var(--cell-height);
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 1px black;
    padding: 2px 1px 1px 2.5px;
    box-sizing: border-box;
    box-shadow:
        inset 1px 0 black,
        inset 0 1px black,
        1px 0 black,
        0 1px black,
        1px 1px black;
    z-index: 1;
}

kw-grid.swedish kw-clue::part(light-preview) {
    display: none;
}

kw-clue {
    overflow-y: auto;
}

.swedish kw-clue {
    overflow-y: visible;
}

kw-clue::part(light-preview) {
    float: right;
}

.swedish kw-clue:first-child:not(:only-child) {
    height: calc(var(--cell-height) / 2);
}

.swedish kw-clue:last-child:not(:only-child) {
    height: calc(var(--cell-height) / 2);
    top: auto;
    bottom: 0;
}


kw-clue[light-direction]::before, kw-clue[light-direction]::after {
    content: '';
    position: absolute;
    z-index: 1;
    border-style: solid;
    border-width: 0;
    border-color: black;
}

kw-clue[light-direction=bottom-down]::after {
    top: calc(100% + 1px);
    left: calc(50% - 4px);
    border-width: 7px 4.5px 0 4.5px;
    border-color: var(--arrow-color, black) transparent transparent;
}

kw-clue[light-direction=right-across]::after {
    top: calc(50% - 4px);
    left: calc(100% + 1px);
    border-width: 4.5px 0 4.5px 7px;
    border-color: transparent transparent transparent var(--arrow-color, black);
}

kw-clue[light-direction=right-down]::after {
    top: 5px;
    left: calc(100% + 1px + var(--cell-width) / 2 - 5px);
    border-width: 7px 4.5px 0 4.5px;
    border-color: var(--arrow-color, black) transparent transparent;
}
kw-clue[light-direction=right-down]::before {
    top: 4px;
    left: calc(100% + 1px);
    width: calc(var(--cell-width) / 2 + 4px);
    border-top-width: 1px;
}

kw-clue[light-direction=left-down]::after {
    top: 5px;
    right: calc(100% + var(--cell-width) / 2 - 5px);
    border-width: 7px 4.5px 0 4.5px;
    border-color: var(--arrow-color, black) transparent transparent;
}
kw-clue[light-direction=left-down]::before {
    top: 4px;
    right: 100%;
    left: auto;
    width: calc(var(--cell-width) / 2 + 4px);
    border-top-width: 1px;
}

kw-clue[light-direction=top-across]::after {
    left: 5px;
    bottom: calc(100% + var(--cell-height) / 2 - 5px);
    border-width: 4.5px 0 4.5px 7px;
    border-color: transparent transparent transparent var(--arrow-color, black) ;
}
kw-clue[light-direction=top-across]::before {
    left: 4px;
    border-left-width: 1px;
    height: calc(var(--cell-height) / 2 + 4px);
    bottom: 100%;
}

kw-clue[light-direction=bottom-across]::after {
    left: 5px;
    top: calc(100% + 1px + var(--cell-height) / 2 - 5px);
    border-width: 4.5px 0 4.5px 7px;
    border-color: transparent transparent transparent var(--arrow-color, black) ;
}
kw-clue[light-direction=bottom-across]::before {
    left: 4px;
    border-left: 1px solid black;
    height: calc(var(--cell-height) / 2 + 4px);
    top: calc(100% + 1px);
}

kw-ref {
    color: #338;
}

kw-ref::part(ref-contents) {
    font-family: sans-serif;
    font-size: 14px;
}

kw-ref::part(ref-contents)::before {
    content: " \261e\00a0";
    content: " ";
}

kw-ref::part(ref-contents)::after {
    content: "";
}